html, body {
  height: 100%;
  width: 100%;
  background-color: aqua;
}
h2 {
  text-align: center;
}
#container {
  display: flex;
  flex-direction: column;
  width:50vw;
  margin: auto;
  align-items: center;
}
intput, label {
  display: block;  
}
input {
  margin: 10px;
  
}
button {
  background-color: purple;
  padding: 5px;
  width: 100px;
  align-content: center;
  color:white;
  border:none;
  border-radius: 10px;
}
#birth-date {
  margin-bottom: .7rem;
}
