html, body {
  height: 100%;
  width: 100%;
  background-color: blue;
}
h2 {
  text-align: center;
}
#container {
  width: 20%;
  margin: auto;
}
intput, label {
  display: block;
}
button {
  display: block;
  margin: 20px;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: .5rem;
  color: green;
  background-color: grey;
}
#birth-date {
  margin-bottom: .7rem;
}
