html, body {
  height: 100%;
  width: 100%;
}
#container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: 1px solid black;
}
.out-put {
  border: 1px solid black;
  display : inline-border;
  width : 150px;
  height : 40px;
  text-align: center;
}
